<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>CustomerController</servlet-name>
  	<display-name>CustomerController</display-name>
  	<description></description>
  	<servlet-class>CustomerController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>CustomerLoginController</servlet-name>
  	<display-name>CustomerLoginController</display-name>
  	<description></description>
  	<servlet-class>CustomerLoginController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>DriverController</servlet-name>
  	<display-name>DriverController</display-name>
  	<description></description>
  	<servlet-class>DriverController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverLoginController</servlet-name>
  	<display-name>DriverLoginController</display-name>
  	<description></description>
  	<servlet-class>DriverLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookingController</servlet-name>
  	<display-name>BookingController</display-name>
  	<description></description>
  	<servlet-class>BookingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>driverQuestionController</servlet-name>
  	<display-name>driverQuestionController</display-name>
  	<description></description>
  	<servlet-class>driverQuestionController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookController</servlet-name>
  	<display-name>BookController</display-name>
  	<description></description>
  	<servlet-class>BookingController</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>AdminloginController</servlet-name>
  	<display-name>AdminloginController</display-name>
  	<description></description>
  	<servlet-class>AdminloginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogoutController</servlet-name>
  	<display-name>AdminLogoutController</display-name>
  	<description></description>
  	<servlet-class>AdminLogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminCustomerViewController</servlet-name>
  	<display-name>AdminCustomerViewController</display-name>
  	<description></description>
  	<servlet-class>AdminCustomerViewController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDeleteController</servlet-name>
  	<display-name>AdminDeleteController</display-name>
  	<description></description>
  	<servlet-class>AdminDeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerProfileEditController</servlet-name>
  	<display-name>CustomerProfileEditController</display-name>
  	<description></description>
  	<servlet-class>CustomerProfileEditController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeedBackController</servlet-name>
  	<display-name>FeedBackController</display-name>
  	<description></description>
  	<servlet-class>FeedBackController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerBookingHistory</servlet-name>
  	<display-name>CustomerBookingHistory</display-name>
  	<description></description>
  	<servlet-class>CustomerBookingHistory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminBookingAssignController</servlet-name>
  	<display-name>AdminBookingAssignController</display-name>
  	<description></description>
  	<servlet-class>AdminBookingAssignController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminBookingViewController</servlet-name>
  	<display-name>AdminBookingViewController</display-name>
  	<description></description>
  	<servlet-class>AdminBookingViewController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AcceptBookingController</servlet-name>
  	<display-name>AcceptBookingController</display-name>
  	<description></description>
  	<servlet-class>AcceptBookingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConfirmBookingController</servlet-name>
  	<display-name>ConfirmBookingController</display-name>
  	<description></description>
  	<servlet-class>ConfirmBookingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverAssignedRidesController</servlet-name>
  	<display-name>DriverAssignedRidesController</display-name>
  	<description></description>
  	<servlet-class>DriverAssignedRidesController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverUpdateRideStatusController</servlet-name>
  	<display-name>DriverUpdateRideStatusController</display-name>
  	<description></description>
  	<servlet-class>DriverUpdateRideStatusController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDriverProfileController</servlet-name>
  	<display-name>UpdateDriverProfileController</display-name>
  	<description></description>
  	<servlet-class>UpdateDriverProfileController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverProfilePicUploadController</servlet-name>
  	<display-name>DriverProfilePicUploadController</display-name>
  	<description></description>
  	<servlet-class>DriverProfilePicUploadController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConfirmRideController</servlet-name>
  	<display-name>ConfirmRideController</display-name>
  	<description></description>
  	<servlet-class>ConfirmRideController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadBookingPDFController</servlet-name>
  	<display-name>DownloadBookingPDFController</display-name>
  	<description></description>
  	<servlet-class>DownloadBookingPDFController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteDriverController</servlet-name>
  	<display-name>DeleteDriverController</display-name>
  	<description></description>
  	<servlet-class>DeleteDriverController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDriverViewController</servlet-name>
  	<display-name>AdminDriverViewController</display-name>
  	<description></description>
  	<servlet-class>AdminDriverViewController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerBookingProgressController</servlet-name>
  	<display-name>CustomerBookingProgressController</display-name>
  	<description></description>
  	<servlet-class>CustomerBookingProgressController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeedbackController</servlet-name>
  	<display-name>FeedbackController</display-name>
  	<description></description>
  	<servlet-class>FeedbackController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverEarningsController</servlet-name>
  	<display-name>DriverEarningsController</display-name>
  	<description></description>
  	<servlet-class>DriverEarningsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadEarningsPDFController</servlet-name>
  	<display-name>DownloadEarningsPDFController</display-name>
  	<description></description>
  	<servlet-class>DownloadEarningsPDFController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverLogoutController</servlet-name>
  	<display-name>DriverLogoutController</display-name>
  	<description></description>
  	<servlet-class>DriverLogoutController</servlet-class>
  </servlet>

  
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/registration/registerCustomer</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>CustomerLoginController</servlet-name>
  	<url-pattern>/registration/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>DriverController</servlet-name>
  	<url-pattern>/DriverReg/registerDriver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverLoginController</servlet-name>
  	<url-pattern>/DriverReg/driverLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingController</servlet-name>
  	<url-pattern>/registration/booking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>driverQuestionController</servlet-name>
  	<url-pattern>/DriverReg/submit-driver-questions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookController</servlet-name>
  	<url-pattern>/BookController</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>AdminloginController</servlet-name>
  	<url-pattern>/Admin/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogoutController</servlet-name>
  	<url-pattern>/Admin/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminCustomerViewController</servlet-name>
  	<url-pattern>/admin/viewCustomers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDeleteController</servlet-name>
  	<url-pattern>/admin/deleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerProfileEditController</servlet-name>
  	<url-pattern>/customer/editProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeedBackController</servlet-name>
  	<url-pattern>/registration/sendFeedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerBookingHistory</servlet-name>
  	<url-pattern>/customer/bookingHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminBookingAssignController</servlet-name>
  	<url-pattern>/admin/assignDriver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminBookingViewController</servlet-name>
  	<url-pattern>/admin/viewBookings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AcceptBookingController</servlet-name>
  	<url-pattern>/admin/acceptBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConfirmBookingController</servlet-name>
  	<url-pattern>/ConfirmBookingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverAssignedRidesController</servlet-name>
  	<url-pattern>/driver/assignedRides</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverUpdateRideStatusController</servlet-name>
  	<url-pattern>/driverreg/updateRideStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDriverProfileController</servlet-name>
  	<url-pattern>/DriverReg/editProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverProfilePicUploadController</servlet-name>
  	<url-pattern>/DriverReg/uploadProfilePic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConfirmRideController</servlet-name>
  	<url-pattern>/customer/confirmRide</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadBookingPDFController</servlet-name>
  	<url-pattern>/customer/downloadBookingPDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteDriverController</servlet-name>
  	<url-pattern>/admin/deleteDriver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDriverViewController</servlet-name>
  	<url-pattern>/admin/viewDrivers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerBookingProgressController</servlet-name>
  	<url-pattern>/customer/bookingProgress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeedbackController</servlet-name>
  	<url-pattern>/customer/submitFeedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverEarningsController</servlet-name>
  	<url-pattern>/driver/earnings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadEarningsPDFController</servlet-name>
  	<url-pattern>/driver/downloadEarningsPDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverLogoutController</servlet-name>
  	<url-pattern>/driver/logout</url-pattern>
  </servlet-mapping>
  
 




  
</web-app>
